<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="header">
    <a href="#default" class="logo">Tech-Blog</a>
    <div class="header-right">
      <a routerLink="sign-up">Sign Up</a>
    <a routerLink="login">Log in</a>
    </div>
    
    <a routerLink="/" routerLinkActive="active">Home</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
  </div>
  <router-outlet></router-outlet>
</body>
</html>